body {
    background-color: #ffd044;
}

.container-fluid{
    background-color: #8a2be2;
    margin: 0;
}

.container .row .colpar{
    background-color: #8a2be2;
}

.container .row .colimpar {
    background-color: #9932cc;
}

#header img{
    width: 80px;
    height: auto;
}
#header {
    margin: 0;
    padding: 0;
}

footer{
    background-color: #8a2be2;
}

.container p, a {
    color: white;
    font-size: 20px;
}

#fondoApp .carouselExampleFade img{
    max-height: 70vh;
    object-fit: cover;
}

#fondoApp {
    position: relative;
}

#fondoApp #PantallaBienvenida{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.btn {
    background-color: #9932cc;
    border-radius: 5%;
    border: none;
    margin-top: 10px;
    color: white;
}

.btn:hover {
    background-color: #c05bf3;
}
.containerStart {
    padding: 50px;
    border-radius: 5%;
    background-color: #2631a7eb;
}
h1 {
    color: white;
}
#container_options, #container_questions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #2631a7eb;
    border-radius: 5%;
    color: yellow;
}
