body {
    background-color: yellow;
}

.container-fluid{
    background-color: #8a2be2;
}

.container .row .colpar{
    background-color: #8a2be2;
}

.container .row .colimpar {
    background-color: #9932cc;
}

#header img{
    width: 80px;
    height: auto;
}

.navbar-brand{
    color: yellow;
}

footer{
    background-color: #8a2be2;
}

.container p, a {
    color: white;
}

#PantallaBienvenida .carouselExampleFade img{
    max-height: 70vh;
    object-fit: cover;
}

#carousel {
    position: relative;
}

#PantallaBienvenida .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#buttonWelcome {
    align-self: center;
    justify-self: end;
    width: 500px;
    height: 200px;
    background-color: #9932cc;
    border-radius: 10%;
    border: yellow solid 15px;

}
